<div  class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="example-toolbar colorToolbar">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon class="iconfont">menu</mat-icon></button>
    <h1 class="example-app-name">Hogwarts Escuela de Mágia</h1>
  </mat-toolbar>
<mat-drawer-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" class="drawerContainer" autosize>
  <mat-drawer [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56" opened #drawer class="example-sidenav toolbar">
    <mat-toolbar class="toolbar option" (click)="option='hogwarts'">
      <span>Sobre Hogwarts</span>
      <img style="width: 58px;" src="assets/images/logo.png" alt="">
    </mat-toolbar>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row class="option" (click)="option='character'">
        <span>Personajes</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="iconfont">face</mat-icon>
        </button>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="option" (click)="option='student'">
        <span>Estudiantes</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon class="iconfont">person_outline</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="option" (click)="option='teacher'">
        <span>Profesores</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon class="iconfont">people</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <div style="margin-left: auto;margin-right: auto;" class="sidenav-content">
    <hogwarts *ngIf="option =='hogwarts'"></hogwarts>
    <characters *ngIf="option =='character'"></characters>
    <student *ngIf="option =='student'"></student>
    <teacher *ngIf="option =='teacher'"></teacher>
  </div>
</mat-drawer-container>

</div>