<mat-card class="example-card ">
    <mat-card-title>Hogwarts</mat-card-title>
    <mat-card-subtitle>Escuela de magia</mat-card-subtitle>
    <mat-card-content>
      <p>{{textoHogwarts}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Gryffindor</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <img mat-card-image src="assets/images/gryffindor.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{textoGryffindor}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Hufflepuff</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <img mat-card-image src="assets/images/hufflepuff.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{textoHufflepuff}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Ravenclaw</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <img mat-card-image src="assets/images/ravenclaw.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{textoRavenclaw}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Slytherin</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <img mat-card-image src="assets/images/slytherin.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{textoSlytherin}}</p>
    </mat-card-content>
  </mat-card>
  