table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  *:not(.iconfont) {
    font-family: wizard , sans-serif !important; 
  }

  .card{
    text-align: center;
  }

  .color{
   background-color: #e7e3af;
  }